body {
    background-color: #f5f5f5;
}

#game-container {
    position: relative;
    width: 500px;
    height: 500px;
    border: 2px solid #333;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

#kitty {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('gatitov2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#mouse {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('raton.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

#score {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#progress-bar {
    position: absolute;
    bottom: 40px;
    left: 10px;
    width: calc(100% - 20px);
}

#restart-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
}



#imagen-1,
#imagen-2 {
    animation: giroHorizontal 5s infinite linear;
    transform-origin: center center;
}

#imagen-2 {
    animation-direction: reverse;
}

@keyframes giroHorizontal {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}